@model IEnumerable<NorthwestLabs.Models.TestTypes>

@{
    ViewBag.Title = "Protocol Notebook";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Services","Services")">Services</a></li>
        <li class="breadcrumb-item active" aria-current="page">Protocol Network</li>
    </ol>
</nav>
<h2>Protocol Notebook</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestTypeProtocol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageTestDurationHours)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestTypeProtocol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageTestDurationHours)
            </td>

        </tr>
    }

</table>
