@model IEnumerable<NorthwestLabs.Models.AssayTypes>

@{
    ViewBag.Title = "FinalizeQuote";
}

<h2>FinalizeQuote</h2>

<p>
    @Html.ActionLink("ThankYou", "Client", new { var = ViewBag.CustomerID, custname = ViewBag.CustomerName })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayProtocol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayProtocol)
        </td>
        <td>
            @Html.ActionLink("Select", "ThankYou", "Client", new { id=item.AssayTypeID }) 
        </td>
    </tr>
}

</table>
