@model NorthwestLabs.Models.Orders

@{
    ViewBag.Title = "PlaceQuote";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("GetAQuote","Client")">Create Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quote Information</li>
    </ol>
</nav>

<h2>Thank you @ViewBag.CustomerName for requesting a Quote. Please enter the day you would like to have your quote back by:</h2>

@using (Html.BeginForm("PlaceQuote","Client", new { var = ViewBag.CustomerID , custname = ViewBag.CustomerName}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Orders</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       Please write here any comments you would like the lab technicians to be aware of:
        <div class="col-md-10">
            @Html.EditorFor(model => model.CustomerComments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustomerComments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
