<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Northwest Labs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding-top:8px">
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <!-- Company Information Drop-down list -->
                            Company Information
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a>@Html.ActionLink("About Us", "AboutUs", "CompanyInfo")</a></li>
                            <li><a>@Html.ActionLink("Contact Us", "Contact", "CompanyInfo")</a></li>
                            <li><a>@Html.ActionLink("Lab Pictures", "LabPics", "CompanyInfo")</a></li>
                            <li><a>@Html.ActionLink("Our Mission", "Mission", "CompanyInfo")</a></li>
                            <li><a>@Html.ActionLink("About Our CEO", "AboutCEO", "CompanyInfo")</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <!-- Services Drop-down list -->
                            Services
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a>@Html.ActionLink("Our Services", "Services", "Services")</a></li>
                            <li><a>@Html.ActionLink("Pharmacology Catalog", "PharmacologyCatalog", "Services")</a></li>
                            <li><a>@Html.ActionLink("Protocol Notebook", "ProtocolNotebook", "Services")</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <!-- Client Portal Drop-down list -->
                            Client Portal
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a>@Html.ActionLink("Submit New Order", "NewOrder", "Client")</a></li>
                            <li><a>@Html.ActionLink("Get a Quote", "Contact", "Client")</a></li>
                            <li><a>@Html.ActionLink("View Orders", "LabPics", "Client")</a></li>
                            <li><a>@Html.ActionLink("Our Mission", "Mission", "Client")</a></li>
                            <li><a>@Html.ActionLink("About Our CEO", "AboutCEO", "Client")</a></li>
                        </ul>
                    </li>
                    
                    <!-- Anchored to the right-side of the navbar -->
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <!-- Employee Portal Drop-down list -->
                            Employee Portal
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a>@Html.ActionLink("Admin", "Admin", "Employee")</a></li>
                            <li><a>@Html.ActionLink("Sales Employee", "SalesEmp", "Employee")</a></li>
                            <li><a>@Html.ActionLink("Head of Pharmacology", "PharmaHead", "Employee")</a></li>
                            <li><a>@Html.ActionLink("Lab Manager", "LabManager", "Employee")</a></li>
                            <li><a>@Html.ActionLink("Technical Director of Pharmacology", "PharmaDirector", "Employee")</a></li>
                            <li><a>@Html.ActionLink("Lab Worker", "LabWorker", "Employee")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
