@model IEnumerable<NorthwestLabs.Models.Orders>


@{
    ViewBag.Title = "Quote Inbox";
}

<h2>Quote Inbox</h2>


<table class="table">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.customers.CustomerName)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CustomerComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabComments)
        </th>
        <th>
            Date Requested
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.RunAllTests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotePrice)
            @if (ViewBag.output != null)
            {
                <p style="color:darkblue">@ViewBag.output</p>
            }
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Quote == true)
        {

        
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.customers.CustomerName)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.CustomerComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.RunAllTests)
            </td>
            <td>
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.EditorFor(model => item.QuotePrice, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => item.QuotePrice, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add Quote" class="btn btn-default" />
                        </div>
                    </div>
                }


        </tr>
        }
    }

</table>

